.dark-theme {
    --color-scheme: dark;
    --icon-color: hsl(0, 0%, 100%);
    --background-color: hsl(226, 42%, 6%);
    --text-color: hsl(60, 100%, 96%);
    --title-text-color: hsl(0, 0%, 100%);
    --code-text-color: hsl(165, 100%, 98%);
    --link-color: hsl(210, 100%, 73%);
    --nest-bar-color: hsl(196, 100%, 24%);
    --title-background-color: hsl(30, 5%, 9%);
    --doctitle-background-color: hsl(0, 0%, 0%);
    --note-type-background-color: hsla(0, 0%, 100%, 0.2);
    --note-background-color: hsla(117, 50%, 26%, 0.6);
    --note-error-background-color: hsla(0, 50%, 26%, 0.6);
    --code-background-color: hsla(240, 5%, 25%, 0.8);
    --title-accent-left-color: hsl(255, 100%, 50%);
    --title-accent-right-color: hsl(200, 69%, 34%);
}